<div id="<%= dom_id trip %>">
  <p>
    <strong>Title:</strong>
    <%= trip.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </p>

  <p>
    <strong>Link to join:</strong>
    <%="#{Rails.application.routes.default_url_options[:host]}:#{Rails.application.routes.default_url_options[:port]}#{join_trip_trip_path(trip.id)}"%>>
  </p>

</div>
