<div id="<%= dom_id assignation_to_buy %>">
  <p>
    <strong>Ingredient:</strong>
    <%= assignation_to_buy.ingredient_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= assignation_to_buy.user_id %>
  </p>

  <p>
    <strong>Trip:</strong>
    <%= assignation_to_buy.trip_id %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= assignation_to_buy.verified %>
  </p>

</div>
