<p style="color: green"><%= notice %></p>

<%= render @user_trip %>

<div>
  <%= link_to "Edit this user trip", edit_user_trip_path(@user_trip) %> |
  <%= link_to "Back to user trips", user_trips_path %>

  <%= button_to "Destroy this user trip", @user_trip, method: :delete %>
</div>
